pkgbase = ghidra-extension-ghidra-xtensa-git
	pkgdesc = Tensilica Xtensa processor module for Ghidra
	pkgver = r34.gc39a1d5
	pkgrel = 4
	url = https://github.com/Ebiroll/ghidra-xtensa
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = perl
	makedepends = unzip
	makedepends = ghidra
	depends = ghidra
	source = ghidra-extension-ghidra-xtensa-git::git+https://github.com/Ebiroll/ghidra-xtensa
	sha512sums = SKIP

pkgname = ghidra-extension-ghidra-xtensa-git

